<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!--PWAProd RPMDev-->
    <add key="pwa_url" value="https://milestonecg.sharepoint.com/sites/RPMDev" />
    <add key="pwa_url1" value="https://mymerrillcorp.sharepoint.com/sites/pwa/" />
    <add key="pwa_url2" value="https://ascensionhealth.sharepoint.com/sites/pwa" />

    <add key="pwa_db_cn2" value="Data Source = sp2016vm2; Initial Catalog = POL_Data; Integrated Security = True" />
    <add key="pwa_db_cn1" value="Data Source = mcgpold01; Initial Catalog = POL_Date; Integrated Security = True" />
    <add key="pwa_db_cn" value="Data Source = sqlmcg04az; Initial Catalog = ProjectOnlineMCGRPM; Integrated Security = True" />

    <add key ="Customer_Admin_User_Name1" value="tmariani@ascensionhealth.org"/>
    <add key ="Customer_Admin_Password1" value="Obvious@1"/>

    <add key ="Customer_Admin_User_Name" value="mikep@milestoneconsultinggroup.com"/>
    <add key ="Customer_Admin_Password" value="Summerishot2020"/>

  </appSettings>
</configuration>